* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/assets/img/mapa_antiguo.jpg);
    height: 800px;
    text-align: center;
    margin: 50px;
}

#titulo{
    margin-top: -320px;
    height: 400px;
}

.abuelo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.filas{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.cuadrados{
    width: 80px;
    height: 80px;
    border: none;
    background-color:#DEB887;
    outline: none;
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(2, 2, 2);
    text-align: center;
    border-radius: 10%;
    border: solid black;
}

.header{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.esp{
    width: 70px;
    height: 40px;
    background-color: rgb(156, 154, 154);
    background-image: url(../img/esp.png);
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    border-radius: 10%;
    
}

.graficas{
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgb(156, 154, 154);
    outline: none;
    background-image: url(../img/beneficios.png);
    font-size: 20px;
    border-radius: 10%;
}

.ajustes{
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgb(156, 154, 154);
    outline: none;
    background-image: url(../img/configuraciones.png);
    font-size: 20px;
    border-radius: 10%;
}

.teclado{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.tecla{
    width: 80px;
    height: 80px;
    border: none;
    background-color: rgb(91, 102, 102);
    font-size: 50px;
    color: aliceblue;
    text-align: center;
    border-radius: 10%;
    border: solid black;
}

.x{
    width: 100px;
    height: 80px;
    border: none;
    background-color: rgb(255, 0, 0);
    font-size: 50px;
    color: aliceblue;
    text-align: center;
    border-radius: 10%;
    border: solid black;
}

.enter{
    width: 100px;
    height: 80px;
    border: none;
    background-color: rgb(28, 131, 28);
    font-size: 25px;
    color: aliceblue;
    text-align: center;
    border-radius: 10%;
    border: solid black;
}




.resultado{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.button{
    width: 170px;
    height: 60px;
    border-radius: 16px;
    border: none;
    background-color: rgb(0, 243, 0);
    font-size: 32px;
    color: aliceblue;
    
}

button:hover{
    border: 3px solid rgb(118, 241, 118);
    background-color: aliceblue;
    color: rgb(109, 248, 109);
    cursor: pointer;
}

